{% extends 'base.html' %}
{% block content %}
<h1>Account List</h1>
<table>
    <thead>
        <tr class="table_background">
            <th>Name</th>
            <th>Number</th>
            <th>Number of Receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for account in account_list %}
        <tr class="{% cycle 'table_background1' '' %}">
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.receipts.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}