{% extends 'base.html' %}
{% block content %}
<div class="form_type">
    <h1>You are Logged Out Now.</h1>
    <p>Would you like to
        <a href="{% url 'login' %}">log back in</a>
        ?
    </p>
</div>
{% endblock content %}