{% extends 'base.html' %}
{% block content %}
<div class="form_type">
    <h1>Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Sign Up</button>
    </form>
</div>
{% endblock content %}