{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        {% if user.is_authenticated %}
        <a class="head_item" href="{% url 'home' %}">Home</a>
        <a class="head_item" href="{% url 'category_list' %}">Category List</a>
        <a class="head_item" href="{% url 'account_list' %}">Account List</a>
        <a class="head_item" href="{% url 'receipt_create' %}">Create Receipt</a>
        <a class="head_item" href="{% url 'account_create' %}">Create Account</a>
        <a class="head_item" href="{% url 'category_create' %}">Create Category</a>
        <a class="head_item" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="head_item" href="{% url 'login' %}">Login</a>
        <a class="head_item" href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </header>
    {% block content %}
    {% endblock content %}

</body>

</html>