html {
    background-color: lightyellow;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
    margin:auto;
    max-width: 800px;
    min-width: 200px;
}

th,td {
    border: 1px solid grey;
    padding: 20px;
}

header {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: center;
    margin: 0;
    padding: 0;
}

.head_item {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
}

.form_type {
    border: 1px solid grey;
    max-width: 400px;
    margin: auto;
    padding: 2em;
}

.helptext {
    display: block;
    font-size: small;
}

.table_background {
    background-color: lightgrey;
}

.table_background1 {
    background-color: aliceblue;
}